################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CamDoAnhTu/v16/Server/sqlite3
